In [4]:
import os

if (os.path.basename(os.getcwd()) == 'notebooks'):
    os.chdir('..')

os.getcwd()

'/home/zack/personal/nihongo_dep'

In [5]:
import pandas as pd

In [8]:
sentences = pd.read_csv('data/raw/jpn_sentences.tsv', sep='\t', names=['id', 'lang', 'sent'])
sentences

              id lang                    sent
0           1297  jpn     きみにちょっとしたものをもってきたよ。
1           4702  jpn              何かしてみましょう。
2           4703  jpn          私は眠らなければなりません。
3           4704  jpn                  何してるの？
4           4705  jpn  今日は６月１８日で、ムーリエルの誕生日です！
...          ...  ...                     ...
212978  10301889  jpn     秋の味覚が店頭に並ぶ季節となりました。
212979  10301918  jpn            これたくさん持ってるよ。
212980  10301922  jpn                 これは新品よ。
212981  10301994  jpn            お父さんと一緒にするな。
212982  10301995  jpn             お父さんとは違うんだ。

[212983 rows x 3 columns]